{% extends 'core/home.html' %}
{%load static%}
<link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mt-5 border-bottom">Services</h1>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
           <br>
            <i class="fa-brands fa-java fa-beat fa-2xl"></i>
            
            <h3 class="mt-3">Java</h3>
            <p>
                Completed Data Structures and Algorithms in Java.
            </p>
        </div>
        <div class="col-sm-4">
            <br>
            <i class="fa-brands fa-python fa-beat fa-2xl" style="color: #669c35;"></i>
             
             <h3 class="mt-3">Python</h3>
             <p>
                 Worked on Python for many projects with Django.
                Libraries used: Numpy, Pandas, Matplotlib,etc.
             </p>
         </div>
         <div class="col-sm-4">
            <br>
            <i class="fa-regular fa-house fa-beat fa-2xl" style="color: #669c35;"></i>
           
             <h3 class="mt-3">Web Development</h3>
             <p>
                 Developing and deploying web applications using my skills.
             </p>
         </div>

    </div>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
           <br>
           <br>
           <i class="fa-brands fa-phoenix-framework fa-beat fa-2xl" style="color: #669c35;"></i>
            
            <h3 class="mt-3">Django</h3>
            <p>
                This project is based on Django and many more.
            </p>
        </div>
        <div class="col-sm-4">
            <br>
            <br>
            <i class="fa-solid fa-language fa-beat fa-2xl" style="color: #669c35;"></i>
             
             <h3 class="mt-3">SQL</h3>
             <p>
                 Used SQL for database management.
             </p>
         </div>
         <div class="col-sm-4">
            <br>
            <br>
           
            <i class="fa-brands fa-linux fa-beat fa-2xl" style="color: #669c35;"></i>
             <h3 class="mt-3">Linux</h3>
             <p>
                 Worked on Linux regarding Cyber Security.
             </p>
         </div>

    </div>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
           <br>
           <i class="fa-solid fa-database fa-beat fa-2xl" style="color: #669c35;"></i>
            
            <h3 class="mt-3">Database Management System</h3>
            <p>
                Well-verse with database management system.
            </p>
        </div>
        <div class="col-sm-4">
            <br>
            <i class="fa-sharp fa-solid fa-people-group fa-beat fa-2xl" style="color: #669c35;"></i>
             
             <h3 class="mt-3">Teamwork</h3>
             <p>
                 Understanding and determing the team's goals.
             </p>
         </div>
         <div class="col-sm-4">
            <br>
           
            <i class="fa-solid fa-headset fa-beat-fade fa-2xl" style="color: #669c35;"></i>  
             <h3 class="mt-3">Esports Player</h3>
             <p>
                 Pursue competing spirit and teamwork.
             </p>
         </div>

    </div>
</div>

{%endblock content%}